
/**
 * Color variable
orange = #FF6600;
dark orange = #C13B00;
black = #1B1D1E;
gray = #5E6D70;
*/

/**
 * Base structure
 */
body {
    background:#fff;
    color:#1B1D1E;
    font-family:'Lato', sans-serif;
}

.animate {
    transition: all 500ms;
}

.hide {
    display:none !important;
}

/**
 * Loading animation
 */
#loading {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#loading h1 {
  font-weight:100;
  color:#5E6D70;
  font-size:40px;
  opacity:1;
}

#loading h1.disappear {
    opacity:0;
}

#loading .layer {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/**
 * Back layer
 */
#loading .back .wrapper {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#fff;
}

#loading .back span {
    position:absolute;
    display:block;
    background:#fff;
    box-shadow:0px 0px 10px 0px #ccc;
    transition-duration:1000ms;
}

#loading .back .part1 {
    transform:translate(0%, 0%);
}

#loading .back .part2 {
    transform:translate(100%, 0%);
}

#loading .back .part3 {
    transform:translate(100%, 100%);
}

#loading .back .part4 {
    transform:translate(0%, 100%);
}

#loading .back .part1.removed {
    transform:translate(-100%, -100%);
}

#loading .back .part2.removed {
    transform:translate(200%, -100%);
}

#loading .back .part3.removed {
    transform:translate(200%, 200%);
}

#loading .back .part4.removed {
    transform:translate(-100%, 200%);
}

/**
 * Front Layer style
 */
#loading .front.layer {
    top:50%;
    left:50%;
    margin-top:-130px;
    margin-left:-200px;
    width:400px;
    height:260px;
    text-align:center;
}

#loading .front .spinner {
    position:relative;
    margin:10px auto;
    width:155px;
    height:155px;
}

#loading .spinner {
    transform:translate(0px, 0px);
}

#loading .spinner.centered {
    transform:translate(0px, 45px);
}

#loading .spinner span {
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    width: 0; 
    height: 0;
}

#loading .spinner span.bottom {
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-top: 60px solid #fff;
}

#loading .spinner span.top {
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-bottom: 60px solid #fff;
}

#loading .spinner span.bottom.colored {
    border-top-color: #FF6600;
}

#loading .spinner span.top.colored {
    border-bottom-color: #FF6600;
}

/**
 * Spinner position
 */
#loading .spinner .slice1 {
    transform: translate(45px, 0px);
}

#loading .spinner .slice2 {
    transform: translate(90px, 10px);
}

#loading .spinner .slice3 {
    transform: translate(90px, 85px);
}

#loading .spinner .slice4 {
    transform: translate(45px, 92px);
}

#loading .spinner .slice5 {
    transform: translate(0px, 85px);
}

#loading .spinner .slice6 {
    transform: translate(0px, 10px);
}

/**
 * Disapearing the spinner
 */
#loading .spinner span.removed {
    opacity:0;
}

#loading .spinner .slice1.removed {
    transform: translate(45px, -300px);
}

#loading .spinner .slice2.removed {
    transform: translate(410px, -195px);
}

#loading .spinner .slice3.removed {
    transform: translate(410px, 285px);
}

#loading .spinner .slice4.removed {
    transform: translate(45px, 392px);
}

#loading .spinner .slice5.removed {
    transform: translate(-400px, 258px);
}

#loading .spinner .slice6.removed {
    transform: translate(-400px, -195px);
}

