
/**
 * Loading animation
 */
#loading {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#loading .layer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#loading .back.layer {
  background:#ff0;
  opacity:0.5;
}

#loading .front.layer {
  background:#f00;
  opacity:0.5;
}

#loading .front .spinner {
  position:absolute;
  top:100px;
  left:200px;
  width:300px;
  height:300px;
}

#loading .spinner span {
position:absolute;
display:block;
width: 0; 
height: 0; 
}

#loading .spinner span.bottom {
border-left: 45px solid transparent;
border-right: 45px solid transparent;
border-top: 80px solid #fff;
}

#loading .spinner span.top {
top:100px;
border-left: 45px solid transparent;
border-right: 45px solid transparent;
border-bottom: 80px solid #fff;
}

#loading .spinner span.slice2 {
  top: 3px;
  left: 50px;
}

#loading .spinner span.slice3 {
  top: 89px;
  left: 50px;
}

#loading .spinner span.slice4 {
  top: 92px;
  left: 0px;
}

#loading .spinner span.slice5 {
  top: 89px;
  left: -50px;
}

#loading .spinner span.slice6 {
   top: 3px;
  left: -50px;
}